unlockservice.34-138-231-163.sslip.io {
    encode zstd gzip
    reverse_proxy 127.0.0.1:3000

    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains"
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
        Referrer-Policy "strict-origin-when-cross-origin"
        -Server
    }

    log {
        output file /var/log/caddy/unlockservice-access.log {
            roll_size 10MiB
            roll_keep 5
            roll_keep_for 168h
        }
    }
}
